django==2.0
#psycopg2==2.7.3.2
django_brfied==0.4.2

# http://django-suit.readthedocs.io/en/develop/getting_started.html#installation
django-suit==0.2.25
# https://pypi.python.org/pypi/django-daterange-filter
django-daterange-filter==1.3.0

django_extensions

django-debug-toolbar

